@import "tailwindcss";

@font-face {
  font-family: "Calist";
  src: url("./fonts/Calist.ttf");
}

@theme {
  --color-text: var(--color-gray-600);
  --color-text-bold: var(--color-gray-700);
}

* {
  font-family: "Calist";
}
